body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
}

.app-header {
  text-align: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
